@page "/tickets/edit/{TicketId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Editar Tipo</h3>

@if (ticket is null)
{
    <div class="spinner" />
}
else
{
    <TicketForm @ref="ticketForm" Ticket="ticket" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

@code {
    private Ticket? ticket = new();
    private TicketForm? ticketForm;

    [Parameter]
    public int TicketId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<Ticket>($"/api/tickets/{TicketId}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                var msgNotFound = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", msgNotFound, SweetAlertIcon.Error);
                navigationManager.NavigateTo("/tickets");
                return;
            }

            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        ticket = responseHttp.Response;

        if (ticket.FueUsada)
        {
            var msgFound = "La boleta ingreso por la portería: " + ticket.Porteria + " en la fecha: " + ticket.UseDate.ToString();
            await sweetAlertService.FireAsync("Boleta usada", msgFound, SweetAlertIcon.Warning);
            navigationManager.NavigateTo("/tickets");
            return;
        }
    }

    private async Task EditAsync()
    {
        var responseHttp = await repository.Put("/api/tickets", ticket);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        var msgFound = "La boleta se registró con éxito en la portería: " + ticket.Porteria + " con la fecha: " + ticket.UseDate.ToString();
        await sweetAlertService.FireAsync("Boleta usada", msgFound, SweetAlertIcon.Warning);
        Return();
    }

    private void Return()
    {
        ticketForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/tickets");
    }
}